@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone">P:</abbr>
    503.312.3360
</address>

<address>
    <strong>Peter:</strong>   <a href="mailto:peter.redin33@gmail.com">peter.redin33@gmail.com</a><br />
</address>